* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#calcularNeto {
    background-color: rgb(238, 233, 245);
    padding: 20px;
}

#calcularAguinaldoActual {
    background-color: rgb(219, 217, 223);
    padding: 20px;
}

#calcularAguinaldo {
    background-color: rgb(219, 217, 223);
    padding: 20px;
}

#calcularAdicionales {
    background-color: rgb(207, 195, 231);
    padding: 20px;
}

#calcularVacaciones {
    background-color: rgb(207, 195, 231);
    padding: 20px;
}

h1 {
    padding: 20px;
    font-size: x-large;
    text-align: center;
}

h2 {
    padding: 20px;
    font-size: large;
    text-align: center;
}

footer h3 {
    font-style: italic;
    font-size: large;
    text-align: center;
    padding: 15px;
}

#calcularNeto .btn-primary {
    background-color:rgb(192, 180, 207);
    border-color: rgb(158, 136, 185);
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

#calcularNeto .btn-primary:hover {
    background-color:rgb(158, 136, 185);
}


#calcularAguinaldoActual .btn-primary {
    background-color:rgb(192, 180, 207);
    border-color: rgb(158, 136, 185);
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

#calcularAguinaldoActual .btn-primary:hover {
    background-color:rgb(158, 136, 185);
}


#calcularAguinaldo .btn-primary {
    background-color:rgb(192, 180, 207);
    border-color: rgb(158, 136, 185);
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

#calcularAguinaldo .btn-primary:hover {
    background-color:rgb(158, 136, 185);
}

#calcularAdicionales .btn-primary {
    background-color:rgb(192, 180, 207);
    border-color: rgb(158, 136, 185);
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

#calcularAdicionales .btn-primary:hover {
    background-color:rgb(158, 136, 185);
}

#calcularVacaciones .btn-primary {
    background-color:rgb(192, 180, 207);
    border-color: rgb(158, 136, 185);
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

#calcularVacaciones .btn-primary:hover {
    background-color:rgb(158, 136, 185);
}


.hidden { 
    display: none; 
}